<div class="site-canvas">
  <div class="site-side">
    <nav class="side-nav">

      <!-- Replace all 'href="#"'with router links -->
    <div class="logo nav-text">
        <a href="#">
          Word Generator
        </a>
      </div>
      <ul class ="list-unstyled nav-text">
        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Smart Word
        </a></li>
        <li><a href="#">
          Slang Word
        </a></li>
        <li><a href="#">
          Girl Name
        </a></li>
        <li><a href="#">
          Boy Name
        </a></li>
      </ul>
    </nav>
</div>

  <!-- meat and potatoes -->

  <main>
    <router-outlet></router-outlet>
  </main>
</div>
