<div class="site-canvas">
  <div class="site-side">
    <nav class="side-nav">

      <!-- Replace all 'href="#"'with router links -->
    <div class="logo nav-text">
        <a a routerLink="/" routerLinkActive= "active"
        [routerLinkActiveOptions]="{ exact: true }">
          Word Generator
        </a>
      </div>
      <ul class ="list-unstyled nav-text">
        <li><a routerLink="smart" routerLinkActive= "active"
        [routerLinkActiveOptions]="{ exact: true }">
          Smart Word
        </a></li>
        <li><a routerLink="slang" routerLinkActive= "active"
        [routerLinkActiveOptions]="{ exact: true }">
          Slang Word
        </a></li>
        <li><a routerLink="girl" routerLinkActive= "active"
        [routerLinkActiveOptions]="{ exact: true }">
          Girl Name
        </a></li>
        <li><a routerLink="boy" routerLinkActive= "active"
        [routerLinkActiveOptions]="{ exact: true }">
          Boy Name
        </a></li>
      </ul>
    </nav>
</div>

  <!-- meat and potatoes -->

  <main>
    <router-outlet></router-outlet>
  </main>
</div>
